@font-face {font-family: FuturaFree; src: url('fonts/blonded_futura.ttf');}
@font-face {font-family: FuturaBold; src: url('fonts/Futura\ Bold\ font.ttf');}
@font-face {font-family: FuturaLight; src: url('fonts/FuturaLight.ttf');}
@font-face {font-family: FuturaBook; src: url('fonts/Futura\ Book\ font.ttf');}
body {
  background-color:#FFFFFF;
  margin:0px;
  padding:0px;
  margin:auto;
}
.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,.8);
  margin: 0;
  /*display: flex;
  justify-content: space-around;*/
  font-family: FuturaFree;
  
}
.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #709b40;
  color: white;
}
#logintitle{
  text-align: center;
  font-size: 40px ;
  color:#333;
  background-color: #ddd;
  margin: 0px;
  padding: 25px;
  font-family: FuturaBold;
}
#box{
  
  border: 1px solid #ccc;
  width:480px;
	height:480px;
	border-radius: 25px;
  background-color: #ffffff;
  margin:auto;
  margin-top: 5%;
  box-sizing: border-box;
  font-family: FuturaBook;
  
}
#loghead{
  margin-left: 48px;
  margin-top: 48px;
  font-size: 30px;
}
#signuplink{
  float:right;
  margin-top: 0px;
  margin-right: 48px;
}
#signuplink a:link {
  color:#709b40;
  text-decoration:none
}
#signuplink a:visited {
  color:#709b40;
  text-decoration:none
}
input[type=text], input[type=password] {
  width: 75%;
  padding: 12px 10px;
  margin-top: 0px;
  margin-left: 48px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.lab{
  color:#333;
  font-size: 15px;
  margin-left: 48px;
}
#loginbutton{
  background-color:#709b40;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px; 
  width: 80%;   
  position:relative; 
  margin: -192px; 
  margin-bottom: -5px;
  left:50%;
  border-radius: 25px;
  font-size: 25px;
  font-family: Futurabook;
}
#loginbutton:hover{
  background-color:#638839;
  color: rgb(241, 241, 241);
}

.passw {
 position:relative;
 left:38%;
 text-decoration: none;
 color:#333;
 font-size: 15px;
}

#remember{
  margin-top:25px;
  margin-bottom: 30px;
  margin-left: 70px;
}